.error-container {
  text-align: center;
}

.error-code {
  font-size: 8rem;
  font-weight: bold;
  color: #dc3545; /* Bootstrap danger color */
  margin-bottom: 1rem;
}

.error-message {
  font-size: 1.5rem;
  color: #495057; /* Bootstrap secondary text color */
  margin-bottom: 2rem;
}

.btn-home {
  background-color: #007bff; /* Bootstrap primary color */
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
}

  .btn-home:hover {
    background-color: #0056b3;
  }
