/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.error-snackbar {
  --mdc-snackbar-container-color: #f44336; /* Red background */
  --mdc-snackbar-supporting-text-color: #ffffff; /* White text */
}

.success-snackbar {
  --mdc-snackbar-container-color: #188e1b; /* Red background */
  --mdc-snackbar-supporting-text-color: #ffffff; /* White text */
}

